name: build

on: [pull_request, push]

jobs:
  build:
    if: ${{ github.event_name != 'pull_request' || github.repository != github.event.pull_request.head.repo.full_name }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name : Validate Gradle Wrapper
        uses : gradle/wrapper-validation-action@v1
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17
      - name: Clean Build
        run: ./gradlew clean build --no-daemon
      - name : Archive Artifacts
        uses : actions/upload-artifact@v2
        with :
          name : FastAsyncVoxelSniper-SNAPSHOT
          path : build/libs/*-SNAPSHOT.jar
      - name: Determine release status
        if: ${{ runner.os == 'Linux' }}
        run: |
          if [ "$(./gradlew properties | awk '/^version:/ { print $2; }' | grep '\-SNAPSHOT')" ]; then
            echo "STATUS=snapshot" >> $GITHUB_ENV
          else
            echo "STATUS=release" >> $GITHUB_ENV
          fi
      - name: Publish Release
        if: ${{ runner.os == 'Linux' && env.STATUS == 'release' && github.event_name == 'push' && github.ref == 'refs/heads/main'}}
        run: ./gradlew publishToSonatype closeAndReleaseSonatypeStagingRepository
        env :
          ORG_GRADLE_PROJECT_sonatypeUsername : ${{ secrets.SONATYPE_USERNAME }}
          ORG_GRADLE_PROJECT_sonatypePassword : ${{ secrets.SONATYPE_PASSWORD }}
          ORG_GRADLE_PROJECT_signingKey : ${{ secrets.SIGNING_KEY }}
          ORG_GRADLE_PROJECT_signingPassword : ${{ secrets.SIGNING_PASSWORD }}
      - name : Publish Snapshot
        if : ${{ runner.os == 'Linux' && env.STATUS != 'release' && github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        run : ./gradlew publishToSonatype
        env :
          ORG_GRADLE_PROJECT_sonatypeUsername : ${{ secrets.SONATYPE_USERNAME }}
          ORG_GRADLE_PROJECT_sonatypePassword : ${{ secrets.SONATYPE_PASSWORD }}
      - name: Publish javadocs
        if: ${{ runner.os == 'Linux' && env.STATUS == 'release' && github.event_name == 'push' && github.ref == 'refs/heads/main'}}
        uses: cpina/github-action-push-to-another-repository@main
        env:
          SSH_DEPLOY_KEY: ${{ secrets.SSH_DEPLOY_KEY }}
        with:
          source-directory: 'build/docs/javadoc'
          destination-github-username: 'IntellectualSites'
          destination-repository-name: 'fastasyncvoxelsniper-javadocs'
          user-email: ${{ secrets.USER_EMAIL }}
          target-branch: main
      - name: Publish to CurseForge
        if: ${{ runner.os == 'Linux' && env.STATUS == 'release' && github.event_name == 'push' && github.ref == 'refs/heads/main'}}
        uses: Kir-Antipov/mc-publish@v3.2
        with:
          curseforge-id: 454430
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}
          files-primary: build/libs/!(*-@(sources|javadoc)).jar
          name: FastAsyncVoxelSniper ${{ github.event.release.tag_name }}
          version: ${{ github.event.release.tag_name }}
          version-type: release
          changelog: "The changelog is available on GitHub: https://github.com/IntellectualSites/fastasyncvoxelsniper/releases/tag/${{ github.event.release.tag_name }}"
          game-versions : |
            1.19.1
            1.19
            1.18.2
            1.18.1
            1.18
            1.17
            1.16
      - name: Publish to Modrinth
        if: ${{ runner.os == 'Linux' && env.STATUS == 'release' && github.event_name == 'push' && github.ref == 'refs/heads/main'}}
        run: ./gradlew modrinth
        env:
          MODRINTH_TOKEN : ${{ secrets.MODRINTH_TOKEN }}
      - name: Publish to GitHub actions
        if: ${{ runner.os == 'Linux' && env.STATUS == 'release' && github.event_name == 'push' && github.ref == 'refs/heads/main'}}
        uses: AButler/upload-release-assets@v2.0
        with:
          files: build/libs/fastasyncvoxelsniper-${{ github.event.release.tag_name }}.jar
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          release-tag: ${{ github.event.release.tag_name }}
